@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&display=swap');
body{
    background-color: #31a9e2;
    font-family: 'Catamaran', sans-serif;
}

.display, .main, .logout{
    display: flex;
}

.display{
    margin-top: 20px;
    flex-direction: column;
}

.main {
    flex-direction: column;
    align-items: center;
}

.main > * {
    margin-bottom: 30px;
}

.logout{
    justify-content: flex-end;
    margin-right: 20px;
}

.button, select {
    height: 50px;
    text-decoration: none;
    font-size: 1.5rem;
    font-family : inherit;
    color: #fff;
    background: transparent;
    border: 3px solid #fff;
    border-radius: 5px;
    transition: .5s ease-out;
}


.button{
    min-width: 10rem;
    margin-right: 10px;
}

.settings{
    justify-content: flex-end;
    height: 60px;
    width: 7rem;
    background: transparent;
    border: 3px solid #fff;
    border-radius: 5px;
    transition: .5s ease-out;
    position:relative;
    top: -120px;
    left: 1790px;
}

.settings:hover{
    background: #fff;
    color: #31a9e2;
}

.exit{
    justify-content: flex-end;
    height: 60px;
    width: 7rem;
    background: transparent;
    border: 3px solid #fff;
    border-radius: 5px;
    transition: .5s ease-out;
    position:relative;
    top: -50px;
    left: 880px;
    transform: rotate(180deg);
}

.exit:hover{
    background: #fff;
    color: #31a9e2;
}

select {
    width: 15rem;
}


option {
    color: #31a9e2;
}

.button:hover, select:hover{
    background: #fff;
    color: #31a9e2;
}

table{
    margin-left:auto;
    margin-right:auto;
}

