#teamname {
   position:relative; 
    top:-380px;
    left: -875px; 
}

h7 {
    position:relative; 
    left: 825px;
}

button {
 border:none;
 outline:none;
}
.colors {
    margin-bottom: 40px;
}


.color {
    font-size: 0px;
    min-width: 30px;
    min-height: 30px;
    margin: 0 20px 0 20px;
    border-radius: 50%;
    border: 5px solid white;
    zoom: 1;
    transition: .5s ease-out;
}

.color:hover {
    border: 1px solid white;
    zoom: 1.5;
    background-color: white;
    
}

.lightblue{
    background-color: #31a9e2;
}

.red{
    background-color: red;

}

.yellow{
    background-color: #ffcd46;

}

.mint{
    background-color: #92ff67;

}

.pink {
    background-color: pink;

}

.blue{
    background-color: blue;
}

.purple{
    background-color: purple;
}

.orange{
    background-color: blue;
}

.indigo{
    background-color: indigo;
}