#creators{
    margin-bottom: 200px;
}

.top{
    height: 80vh;
}

li {
    list-style: none;
    display: auto; 
}

.col-md-8 {
    text-align: center;
}

ul {
    display: block;
   margin-left: auto;
   margin-right: auto;
   padding: 0;
}

section {
    text-align: center;
}

.list {
    width: 50%;
    margin: auto;
}

.listFunc {
    width: 50%;
    margin: auto;
    text-align: center;
}

.listFunc ul{
    text-align: center;
}

.section {
    color: black;
}

.sectioning {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 5px;
}

.divider {
    border: none;
    border-top: 1px #fff solid;
    width: 70%;
    
}

p {
    font-style: normal;
    font-weight: 400;
}